@import "../../../Styles/common.scss";

.HeaderNavContainer {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  border-bottom: 1px solid #dddddd;
  background-color: white;

  .HeaderNav {
    max-width: 975px;
    display: flex;
    justify-content: space-between;
    padding: 8px 20px;
    margin: 0 auto;

    .hiddenSearchBox {
      display: none;
    }

    .iconStyle {
      height: 25px;
      margin: 0 5px;
    }

    .homeIcons {
      @include center;

      .hLine {
        width: 2px;
        height: 35px;
        margin: 0 15px;
        background-color: #5e5e5e;
      }

      .instaMainImg {
        height: 30px;
        margin: 0 5px;
      }
    }

    .wrapNavTextBar {
      position: relative;

      .navTextBarCon {
        position: relative;
        margin-top: 5px;

        .searchXBtn {
          position: absolute;
          right: 5px;
          top: 4px;
        }

        .searchImgInText {
          position: absolute;
          top: 9px;
          left: 10px;
          height: 10px;
          width: 10px;
          background-image: url("/images/yeheum/123123.png");
          background-repeat: no-repeat;
          background-position: -399px -321px;
        }

        .navTextBar {
          width: 215px;
          height: 28px;
          background-color: #fafafa;
          border: solid 1px rgba(var(--b6a, 219, 219, 219), 1);
          border-radius: 4px;
          padding: 13px 25px;
        }

        .searchXBtn {
          height: 20px;
          width: 20px;
          background-image: url("/images/yeheum/123123.png");
          background-repeat: no-repeat;
          background-position: -318px -333px;
          cursor: pointer;
        }
      }

      .searchIconBox {
        width: 215px;
        height: 28px;
        position: absolute;
        right: 0;
        top: 5px;
        z-index: 2;
        @include center;
        padding: 7px;
        border-radius: 3px;
        border: solid 1px rgba(var(--b6a, 219, 219, 219), 1);
        cursor: text;
        background-color: #fafafa;

        .wrapSearchBoxContain {
          @include center;
          margin-right: 5px;

          .searchImg {
            height: 10px;
            width: 10px;
            background-image: url("/images/yeheum/123123.png");
            background-repeat: no-repeat;
            background-position: -399px -321px;
            margin-right: 10px;
          }

          .searchText {
            margin-top: 3px;
            color: #b1b1b1;
            font-size: 14px;
          }
        }
      }
    }

    .hrefIcons {
      width: 220px;
      display: flex;
      justify-content: space-around;
      align-items: center;

      .home {
        height: 29px;
      }

      .dmIcon {
        height: 29px;
      }
    }

    input::placeholder {
      color: #b1b1b1;
    }
  }
}
