.SearchBox {
  .wrapSearchBox {
    position: absolute;
    top: 51px;
    right: calc(50% + (241px / 2) + 22px);

    .searchBox {
      width: 241px;
      height: 362px;
      display: flex;
      position: fixed;
      z-index: 20;
      border: 1px solid #dddddd;
      border-radius: 3px;
      background-color: white;
      overflow: auto;

      .wrapSearchList {
        width: 100%;
      }
    }
  }

  .hiddenSearchBox {
    display: none;

    .searchBox {
      width: 241px;
      height: 362px;
      display: flex;
      position: fixed;
      z-index: 20;
      border: 1px solid #dddddd;
      border-radius: 3px;
      background-color: white;
      overflow: auto;

      .wrapSearchList {
        width: 100%;
      }
    }
  }
}
