.wrapProfile {
  display: flex;
  align-items: center;

  img {
    width: 40px;
    height: 40px;
    margin: 7px 10px;
    border-radius: 70%;
  }

  div {
    p {
      margin: 5px 0;
      color: #b1b1b1;
      font-size: 14px;
    }
  }
}
