// @media (max-width: 1024px) {
//   .AsideNav {
//     display: none;
//   }

//   .Main
// }

.AsideNav {
  position: absolute;
  top: 0;
  right: 293px;

  .main-right {
    position: fixed;
    max-width: 293px;
    width: 100%;
    height: 100vh;
    margin-bottom: 30px;
  }

  .wrapProfileR {
    display: flex;
    align-items: center;
    margin: 8px 5px;

    img {
      width: 50px;
      height: 50px;
      margin: 5px 10px;
      border-radius: 70%;
    }

    div {
      p {
        margin: 0;
        color: #b1b1b1;
        font-size: 14px;
      }
    }
  }

  .storyRecomWrap {
    height: 225px;
    border: 1px solid #dddddd;
    border-radius: 3px;
    background-color: white;
    margin-bottom: 20px;
    overflow: hidden;
  }

  .storyRecomStyle {
    display: flex;
    justify-content: space-between;
    padding: 10px;

    div {
      font-size: 14px;
      color: gray;
      font-weight: bold;
    }

    a {
      font-size: 12px;
    }
  }

  .copyRight {
    color: #b1b1b1;
    font-size: 12px;
  }
}
