.AsideNav {
  position: absolute;
  top: 0;
  right: 293px;

  .main-right {
    max-width: 293px;
    height: 100vh;
    position: fixed;
    margin-bottom: 30px;
  }

  .wrapProfileR {
    display: flex;
    align-items: center;
    margin: 8px 5px;

    img {
      width: 50px;
      height: 50px;
      margin: 5px 10px;
      border-radius: 70%;
    }

    div {
      .userId {
        cursor: pointer;
        font-weight: bold;
      }

      .userName {
        margin-top: 5px;
        color: #b1b1b1;
        font-size: 14px;
      }
    }
  }

  .storyRecomWrap {
    height: 225px;
    border: 1px solid #dddddd;
    border-radius: 3px;
    background-color: white;
    margin-bottom: 20px;
    overflow: hidden;
  }

  .heightAutoStoryRecomWrap {
    height: auto;
    border: 1px solid #dddddd;
    border-radius: 3px;
    background-color: white;
    margin-bottom: 20px;
    overflow: hidden;
  }

  .storyRecomStyle {
    display: flex;
    justify-content: space-between;
    padding: 10px;

    div {
      font-size: 14px;
      color: gray;
      font-weight: bold;
    }

    .storyAll {
      font-weight: bold;
      font-size: 12px;
      color: black;
      cursor: pointer;
    }
  }

  .copyRight {
    color: #b1b1b1;
    font-size: 12px;
  }
}
