@import "../../../Styles/common.scss";

.YeheumMain {
  background-color: #fafafa;
  height: 100%;

  @media (max-width: 1024px) {
    .AsideNav {
      display: none;
    }

    .feeds {
      margin: 0 auto 50px;
    }

    .wrapGoToCreateContentBtn {
      margin: 0 auto;
    }
  }

  .profile {
    height: 25px;
    margin-bottom: 7px;
    margin-left: 10px;
  }

  main {
    padding: 80px 0;
  }

  .wrapMain {
    max-width: 935px;
    position: relative;
    margin: 0 auto;

    .wrapGoToCreateContentBtn {
      width: 612px;
      @include center;

      .goToCreateContentBtn {
        width: 150px;
        height: 30px;
        color: white;
        background-color: #0095f6;
        border-radius: 3px;
        margin: 0 auto 20px;
        cursor: pointer;

        &:hover {
          opacity: 0.7;
        }
      }
    }
  }

  .emptyBox {
    max-width: 293px;
    height: 1px;
    right: 0;
  }

  .feedsTop {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  img:hover {
    cursor: pointer;
  }

  .feedStyle:hover {
    cursor: default;
  }

  .navTextBarCon .peopleCount {
    font-weight: bold;
    font-size: 16px;
  }

  .feedLikeBtn {
    width: 25px;
    height: 25px;
    border-radius: 70%;
    margin: 10px;
  }
}
