@media (max-width: 1024px) {
  .AsideNav {
    display: none;
  }

  .feeds {
    margin: 80px auto 0;
  }
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  border-bottom: 1px solid #dddddd;
  background-color: white;
}

body {
  background-color: #fafafa;
}

.profile {
  height: 25px;
  margin-bottom: 7px;
  margin-left: 10px;
}

main {
  margin-top: 80px;
}

.wrapMain {
  position: relative;
  width: 935px;
  margin: 0 auto;
}

.emptyBox {
  max-width: 293px;
  width: 100%;
  height: 1px;
  right: 0;
}

.feedsTop {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

img:hover {
  cursor: pointer;
}

.feedStyle:hover {
  cursor: default;
}

.changeMain {
  display: flex;
  flex-flow: column;
  align-items: center;
}

.hiddenSearchBox {
  display: none;
}

.searchBox {
  width: 241px;
  height: 362px;
  display: flex;
  position: fixed;
  border: 1px solid #dddddd;
  border-radius: 3px;
  background-color: white;
  z-index: 20;
  overflow: auto;
}

.wrapSearchBox {
  position: absolute;
  top: 51px;
  right: calc(50% + (241px / 2) + 22px);
}

.WrapSearchList {
  width: 100%;
}
.searchProfile {
  width: 100%;
  display: flex;
  border-bottom: 1px solid #dddddd;
  cursor: pointer;
}

.navTextBarCon .peopleCount {
  font-weight: bold;
  font-size: 16px;
}

.feedLikeBtn {
  width: 25px;
  height: 25px;
  border-radius: 70%;
  margin: 10px;
}
